{erl_opts, [debug_info]}.

{project_plugins, [erlfmt]}.

{plugins, [pc]}.

{deps, []}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{shell, [
    {apps, [dqliterl]}
]}.

{erlfmt, [write]}.

{port_specs, [{"priv/bin/dqliterl_node", ["c_src/dqliterl_node.c"]}]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Werror -Wall -Wextra"},
    {"LDFLAGS", "$LDFLAGS -ldqlite -lpthread"}
]}.

{dialyzer, [
    {warnings, [missing_return, unknown]},
    {output_format, raw}
]}.
